header {
	background-color: #1e252e;
	color: #dcdcdc;
	text-align: center;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 10px;
	padding: 5px;
	line-height: 7px;
}

nav p {
	background-color: #29323d;
	color: #dcdcdc;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 10px;
	padding: 15px;
	width: 75%;
    margin-right: auto;
    margin-left: auto;
}

section {
	background-color: #29323d;
	color: #dcdcdc;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 10px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	page-break-after: 10px;
	float: center;
    margin-left: 5px;
}

section h1 {
	font-size: 25px;
}

section h2 {
	font-size: 20px;
}

aside p {
	background-color: #29323d;
	color: #dcdcdc;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 10px;
	padding: 15px;
	width: 30%;
	float: right;
}

p {
	line-height: 25px;
	padding-left: 15px;
	padding-right: 15px;
}

aside ul {
	background-color: #29323d;
	color: #dcdcdc;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 10px;
	padding: 15px;
	width: 30%;
	float: right;
}

body {
	background-color: #0a0e13;
}

nav a:link {
	color: #dcdcdc;
	background-color: transparent;
	text-decoration: none;
}

nav a:visited {
	color: #dcdcdc;
	background-color: transparent;
	text-decoration: none;
}

section a:link {
	color: CadetBlue;
	background-color: transparent;
	text-decoration: none;
}

section a:visited {
	color: CadetBlue;
	background-color: transparent;
	text-decoration: none;
}

img {
	float: right;
	padding: 10px;
}